
[Unit]
Description=ir remote
#After=network-online.target

[Service]
Type=simple
User=root
#WorkingDirectory=/nitesh/server
ExecStart=/bin/bash -c '/nitesh/ir-remote/ir-remote'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
